# Node.js dependencies
node_modules
.pnp
.pnp.js

# Next.js build output
.next
out

# Production build output
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode
.idea

# Ignore Dockerfile and .dockerignore itself to prevent them from being copied into the image
Dockerfile
.dockerignore

# Optional: Ignore test and configuration files
test
tests
*.test.js
*.spec.js
*.config.js
*.config.ts